<footer class="footer bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6> -Links</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#work">Work</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6> -Links</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#experience">Experience</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6> -Subscribe</h6>
        <p>Subscribe to our newsletter for updates</p>
        <form class="form-inline footer-subscribe-form">
          <div class="form-group mr-2 my-3">
            <input type="email" class="form-control placeholder" placeholder="Email address">
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
    <div class="container text-center mt-5 pb-1" style="color:#979292;">
      <p>&copy; <span id="currentYear">{{ currentYear }}</span> Safir | Portfolio. All Rights Reserved. | Designed and Developed by Safir Sainudeen</p>
    </div>
</footer>

