<section id="about">
  <div class="container py-2">
      <div class="card card-bg-gradient">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
              <div class="p-4">
                  <h1>I'm Safir Sainudeen,</h1>
                  <!-- <h2>- Full Stack Developer</h2> -->
                  <blockquote class="blockquote">
                    Full Stack Developer
                  </blockquote>
                  <!-- <p>A passionate Full Stack Developer with expertise in JavaScript and PHP  to build and test reusable & efficient modules using frameworks like CodeIgniter and Laravel. I have a strong command over CMS platforms like WordPress and extensive knowledge of frontend technologies such as Angular and React.</p>
                  <p> With a focus on creating efficient, scalable, and user-friendly applications, I bring innovative solutions to life . Explore my portfolio to see my work and get in touch for your next project!</p> -->
                  <p>As a passionate Full Stack Developer, I possess expertise in JavaScript and PHP, utilizing frameworks like CodeIgniter and Laravel to build and test reusable and efficient modules. Additionally, I have a strong command over CMS platforms like WordPress and extensive knowledge of frontend technologies, including Angular and React.</p>
                  <p>With a primary focus on developing efficient, scalable, and user-friendly applications, I have successfully developed over 60+ websites and more than 10+ web applications. You can explore my portfolio to view my work and feel free to reach out to me for your next project!</p>

                  <a type="button" href="#skills" class="btn btn-outline-light">LEARN MORE <i class="fa fa-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-md-6 image-container">
            <img [src]="imagePath"  alt="Image" class="img-fluid animated-image">
          </div>
        </div>
      </div>
  </div>
</section>
