<!-- <section class="py-4 my-2" id="experience">
  <div class="container">
    <h2>-Experience</h2>
    <div class="card text-center">
      <div class="card-header">
        Experience
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
  </div>
</section> -->
<section id="experience" class="section py-4 my-2 black-background">
  <div class="container">
    <h2 class="section-title">-Experience </h2>

    <div class="timeline">
      <h6 class="text-light">[ Last four companies .. ]</h6>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h4 class="experience-title">iRoid Technologies</h4>
          <a href="https://www.iroidtechnologies.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-link"></i> https://www.iroidtechnologies.com/</a>
          <div class="experience-details">
            <p class="experience-role">Web Developer / Full Stack Developer (Team lead) <span class="badge bg-primary">Full-time</span></p>
            <p class="experience-duration">July 2021 - Present</p>
          </div>
          <ul class="experience-highlights">
            <li>Developed responsive web applications using HTML, CSS, and JavaScript.</li>
            <li>Collaborated with a team of designers and developers to implement new features and enhancements.</li>
            <li>A diverse range of projects, including fleet management systems ( Angular-Laravel ), <br> inventory management systems( Laravel ), e-commerce websites ( React-Laravel ), <br>  admin panels for multiple roles, customer relationship management (CRM), <br> and advertisement promotion for websites with e-commerce integration.</li>
            <li>The implementation of cutting-edge technologies in the Internet of Things (IoT),<br> like NFC( Near Field Communication using javascript ), QRCode Reading etc.</li>
            <li>Integrated third-party APIs to enhance functionality and improve user experience.</li>
          </ul>
        </div>
      </div>

      <!-- Add more timeline items as needed -->
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h4 class="experience-title">Moonhive </h4>
          <a href="https://moonhive.in/" target="_blank" rel="noopener noreferrer"><i class="fa fa-link"></i> https://moonhive.in/</a>
          <div class="experience-details">
            <p class="experience-role">Web Developer <span class="badge bg-danger">Part-time due to corona</span></p>
            <p class="experience-duration">Dec 2020 - April 2021</p>
          </div>
          <ul class="experience-highlights">
            <li>Worked as web developer, Designed user friendly websites in Wordpress that <br> having external plugins includes Custom Post Types, Advanced Custom Fields, Elementor, Woocommerce etc.</li>
            <li>Developed websites in firebase that includes firebase authentication, CRUD operations.</li>
            <li>Learned to develop Angular and Ionic  application.</li>
          </ul>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h4 class="experience-title">Codeface Technologies</h4>
          <a href="https://codefacetech.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-link"></i> https://codefacetech.com/</a>
          <div class="experience-details">
            <p class="experience-role">Web Developer <span class="badge bg-danger">Part-time due to corona</span></p>
            <p class="experience-duration">June 2020 - November 2020</p>
          </div>
          <ul class="experience-highlights">
            <li>Developed responsive web applications using HTML, CSS, and JavaScript.</li>
            <li>Devised various websites using codeigniter framework and learned various programming languages.  </li>
            <li>Managed projectsindependently from start to finish with Codeigniter, Laravel frameworks.</li>
            <li>Worked with clients across Singapore and middle east.</li>
          </ul>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <h4 class="experience-title">Mysearch Global Reward ( M S G R )</h4>
          <a href="https://www.mysearchglobalrewards.com/" target="_blank"><i class="fa fa-link"></i> https://www.mysearchglobalrewards.com/</a>
          <div class="experience-details">
            <p class="experience-role">Web Developer <span class="badge bg-primary">Full-time</span></p>
            <p class="experience-duration">August 2019 - May 2020</p>
          </div>
          <ul class="experience-highlights">
            <li>Worked as Web developer, responsible for end-to-end web app development.</li>
            <li>Prototyped different product features for various website which boosts user experiences.</li>
            <li>Managed projects independently from start to finish.</li>
            <li>Created server-rich Codeigniter, Laravel frameworks.</li>
            <li>Worked with clients across UAE and other countries for web applications as per their specific requirements.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
