<section id="work">
  <div class="container">
    <h2>-Works</h2>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner" >
        <div class="carousel-item active" data-bs-interval="2000">
          <h5 class="text-light">Aligner Website</h5>
          <img [src]="alignersImg" class="d-block" alt="..." height="600px" style="border-radius: 20px;">
          <div class="carousel-caption  bg-dark  opacity-75   d-none d-md-block" style="border-radius: 5px;">
            <h5 class="text-white">Aligner Website</h5>
            <p class="text-white">Dental Promotions Website ( Laravel Project )</p>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="10000">
          <h5 class="text-light">Easystore online (E-commerce website)</h5>
          <img [src]="easyStoreImg" class="d-block " alt="..." height="600px" style="border-radius: 20px;">
          <div class="carousel-caption bg-dark  opacity-75 d-none d-md-block" style="border-radius: 5px;">
            <h5 class="text-white">Easystore Online</h5>
            <p class="text-white">React & Laravel E-commerce Website</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <h5 class="text-light">Qlink Admin panel (Inventory Web Application)</h5>
          <img [src]="qlinkImg" class="d-block" alt="..." height="600px" style="border-radius: 20px;">
          <div class="carousel-caption  bg-dark  opacity-75   d-none d-md-block" style="border-radius: 5px;">
            <h5 class="text-white">Qlink Admin panel</h5>
            <p class="text-white">Inventory & Sales Management ( Laravel Project )</p>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

