.form-label{
  color: white !important;
}
.contact-info p{
  line-height:  1.5;
}
.contact-info{
  padding: 25px !important;
  color: rgb(146, 115, 248);
}
.contact-info label{
  font-size: 15px !important;
  color: #fff;
  text-transform: uppercase;
}
