<section class="py-5 my-2 " id="contact">
  <div class="container">
    <h2 class="">-Contact Info</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <label for="email">Email:</label>
          <p> safirsainudeen@gmail.com <br> rifassafir@gmail.com</p>
          <label for="Contact Number:">Contact Number: </label>
          <p>+91-7591980170</p>
          <label for="Address">Permenant Address:</label>
          <p>Shameer Manzil Vithura ,<br> Trivandrum, Kerala India ,<br>  Pin: 695551</p>
          <label for="Address">Current Address:</label>
          <p>Nadupparambil house <br> Perumbotta Road Elamakkara ,<br> Kochi, Kerala, India ,<br>  Pin: 682026</p>
        </div>
      </div>
      <div class="col-md-6">
        <form class="placeholder-glow">
          <div class="mb-3 ">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control placeholder" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control placeholder" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control placeholder" id="message" name="message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="border-radius: 2px;"><i class="fas fa-paper-plane"></i> SEND</button>
        </form>
      </div>
    </div>
  </div>
</section>
